<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <div class="stepper-wrapper alignCenter">
            <div class="stepper-item active completed">
                <div class="step-counter"></div>
                <div class="step-name">Início</div>
            </div>
            <div class="stepper-item">
                <div class="step-counter"></div>
                <div class="step-name">Documentos</div>
            </div>
            <div class="stepper-item">
                <div class="step-counter"></div>
                <div class="step-name">Dados cadastrais</div>
            </div>
            <div class="stepper-item">
                <div class="step-counter"></div>
                <div class="step-name">Admissão</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h1>Informe o CPF do futuro cooperado (a)</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro
            futuramente.<br>Digite apenas os números (sem pontos ou traços).</p>
    </div>
</div>
<div class="row">
    <div class="col-4 col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4">
        <label style="font-weight: bold;" for="cpf">CPF</label>
    </div>
</div>
<form [formGroup]="formConsultar">
    <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4">
            <input id="cpf" type="text" class="form-control bgInputCpf" formControlName="cpf" mask="000.000.000-00">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4">
            <button type="button" class="buttonStyleCpf" (click)="consultar()" [disabled]="false">
                Consultar por CPF
            </button>
        </div>
    </div>
</form>
<div class="row mt-3" *ngIf="dados">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <p><strong>Situação cadastral do CPF</strong><br>
                            Consulta na Receita Federal
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xs-2">
                        <i class="fa fa-user fa-2x mt-2 ms-3 iconsGrey"></i>
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xs-10">
                        <p>Nome<br><strong>{{objInfoCooperadoApiRest.nome}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xs-2">
                        <i class="fa fa-2x mt-2 ms-3" [ngClass]="{
                                        'fa-check-circle': objInfoCooperadoApiRest.situacaoCpf === 'Regular',
                                        'fa-times-circle': objInfoCooperadoApiRest.situacaoCpf === 'Irregular',
                                        'colorCheckCircleGreen' : objInfoCooperadoApiRest.situacaoCpf === 'Regular',
                                        'colorCheckCircleRed': objInfoCooperadoApiRest.situacaoCpf === 'Irregular'
                                      }"></i>
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xs-10">
                        <p>CPF<br><strong>{{objInfoCooperadoApiRest.situacaoCpf}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <p><strong>Conta aplicação</strong><br>
                            Cooperativa Viacredi
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xs-2">
                        <i class="fa fa-credit-card mt-2 ms-3 fa-2x iconsGrey"></i>
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xs-10">
                        <p>Número da
                            conta<br><strong>{{objInfoCooperadoApiRest.numeroContaAplicacao}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <p>&nbsp;<br><strong class="fontColorAilos">Duplicar conta</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4 ">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <p><strong>Conta corrente</strong><br>
                            Cooperativa Viacredi
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xs-2">
                        <i class="fa fa-credit-card mt-2 ms-3 fa-2x iconsGrey"></i>
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xs-10">
                        <p>Número da
                            conta<br><strong>{{objInfoCooperadoApiRest.numeroContaCorrente}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <p>&nbsp;<br><strong class="fontColorAilos">Duplicar conta</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bgInputCpf positionBottom">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 mt-2 mb-2" *ngIf="dados">
        <button type="button" class="buttonStyle buttonStyleColorsB1">
            Iniciar nova admissão
        </button>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 mt-2 mb-2">
        <button type="button" class="buttonStyle buttonStyleColorsB2">
            Dicas para admissão
        </button>
    </div>
</div>