<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <header>
            <img src="/assets/img/AILOS_Logo.png" class="mt-2" alt="AILOS_Logo" width="100" height="100">
        </header>
        <ul class="nav  flex-column mt-3 textAlignCenter">
            <li>
                <a class="nav-link active borderUnset">
                    <i class="fa fa-bars mt-2 ms-3 fa-2x fontColorWhite cursonPointer"></i>
                </a>
            </li>
            <li>
                <a class="nav-link active borderUnset">
                    <i class="fa fa-search mt-2 ms-3 fa-2x fontColorWhite cursonPointer"></i>
                </a>
            </li>
            <li>
                <a class="nav-link active borderUnset">
                    <i class="fa fa-star-o mt-2 ms-3 fa-2x fontColorWhite cursonPointer"></i>
                </a>
            </li>
            <li>
                <a class="nav-link active borderUnset">
                    <i class="fa fa-commenting-o mt-2 ms-3 fa-2x fontColorWhite cursonPointer"></i>
                </a>
            </li>
            <li>
                <a class="nav-link active borderUnset">
                    <i class="fa fa-sliders mt-2 ms-3 fa-2x fontColorWhite cursonPointer"></i>
                </a>
            </li>
            <li>
                <a class="nav-link active borderUnset">
                    <i class="fa fa-university mt-2 ms-3 fa-2x fontColorWhite cursonPointer"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 mt-12 mb-12">
                        <h2><strong>NOVA ADMISSÃO COOPERADO</strong></h2>
                        <p>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 mt-12 mb-12">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4 mt-4 mb-4 textAlignCenter">
                                <i class="fa fa-bell-o ms-3 fa-2x cursonPointer"></i>
                            </div>
                            <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xs-4 mt-4 mb-4 textAlignCenter">
                                <p class="pviacredi">VIACREDI</p>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xs-3 mt-4 mb-4 textAlignCenter">
                                <img src="/assets/img/AILOS_Logo.png" alt="hugenerd" width="30" height="30"
                                    class="rounded-circle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="heightComponent">
            <div class="bgColor heightContent paddingContent">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>